# Git
.git/
.github/
.gitignore

# IDE
.idea/
.vscode/

# Build artifacts
**/build/
**/.dart_tool/
**/node_modules/

# Frontend specific
frontend/dancee_app/android/
frontend/dancee_app/ios/
frontend/dancee_app/web/
frontend/dancee_app/test/

# Design files
.design/

# Kiro
.kiro/
